<%- include("partials/header"); -%>

<div class="back">
    <h1>The temprature in <%=city%> is <%=temp%> degrees Celcius.</h1>
    <h2>The Weather is currently <%=weatherDescription%> .<h2>
    <img src="http://openweathermap.org/img/wn/<%=weatherIcon%>@2x.png">
</div>


<%- include("partials/footer"); -%>